<div class="container">

  <h3 class='text-center'>口算题</h3>

  <!-- <div class="grid">

    <p>加法</p>
    <div class='grid' *ngFor="let plus of plusArray">
      <div>{{plus}}</div>
    </div>

  </div>
  <div>

    <p>乘法</p>
    <div *ngFor="let m of multiplyArray">
      <div>{{m}}</div>
    </div>

  </div> -->



  <h5>直接写出得数</h5>


  <div class="grid mb-5">
    <div *ngFor="let m of kousuan">
      <div>{{m}}</div>
    </div>
  </div>

  <h5>竖式</h5>


  <div class="grid mb-5">
    <div *ngFor="let m of shushi">
      <div>{{m}}</div>
    </div>
  </div>

  <h5>连等式</h5>


  <div class="grid2 mb-5">
    <div *ngFor="let m of lianshi">
      <div>{{m}}</div>
    </div>
  </div>




  <!--
    <div class="grid">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
      <div class="item">Item 5</div>
      <div class="item">Item 6</div>
      <div class="item">Item 7</div>
    </div> -->

  </div>
