// .grid {
//   display: grid;
//   grid-template-columns: 200px 200px 200px;
//   grid-template-columns: 20% 20% 20% 20% 20%;
//   grid-template-columns: 20% 20% auto 20%;
//   grid-template-columns: auto auto auto;
//   grid-template-columns: repeat(3, 200px);
//   grid-template-columns: repeat(4, auto);
//   grid-template-columns: 1fr 2fr 3fr;


//   // similar to padding
//   grid-gap: 1rem;
// }


// .item {
//   padding: 3rem;
//   border: #ccc solid 1px;
//   background-color: #f4f4f4;
//   font-size: 1.3rem;
//   font-weight: bold;
//   text-align: center;
// }


.grid {

  .reload {
    cursor: pointer;
    color: blue;
  }

  .title {
    // padding-bottom: 10px;
  }

  .kousuan {
    display: grid;
    grid-gap: 5px;

    grid-template-columns: repeat(6, auto);
  }


  .shushi {
    display: grid;
    grid-template-columns: repeat(5, auto);

    .shushi-item {
      height: 10rem;
    }
  }

  .didengshi {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 1rem;

    .dds-item{
      height: 90px;
    }
  }
}




// .grid3 {
//   display: grid;
//   grid-template-columns: repeat(4, auto);
//   grid-gap: 1rem;

//   // grid-row: 1 / span 3;

// }

// .item {
//   grid-row: 1 /span 2;
//   // grid-column: 1 /span 2;
//   grid-template-columns: repeat(3, auto);
// }
