<div class="container grid">

  <h3 class='title text-center'>每日训练（90题）</h3>
  <div class="reload text-center">
    <a (click)="generateContent()">生成新题目</a>
  </div>

  <h5 class="title">一、直接写出得数（50题）</h5>
  <div class="kousuan mb-3">
    <div *ngFor="let m of kousuan">
      <div>{{m}}</div>
    </div>
  </div>

  <h5 class="title">二、竖式（20题）</h5>
  <div class="shushi mb-3 ">
    <div class='shushi-item' *ngFor="let m of shushi">
      <div> {{m}} </div>
    </div>
  </div>

  <h5 class="title">三、递等式（20题）</h5>
  <div class="didengshi mb-3">
    <div class="dds-item" *ngFor="let m of lianshi">
      <div>{{m}}</div>
    </div>
  </div>

  <!--
    <div class="grid3">
      <div class="item">Item 1</div>
      <div class="item">Item 2</div>
      <div class="item">Item 3</div>
      <div class="item">Item 4</div>
      <div class="item">Item 5</div>
      <div class="item">Item 6</div>
      <div class="item">Item 7</div>
    </div> -->

</div>
