.grid {

  font-size: 1.2rem;

  .reload {
    cursor: pointer;
    color: blue;
    font-size: 14px;
  }

  .title {
    padding-bottom: 10px;
  }

  .kousuan {
    display: grid;
    gap: 2rem 0;
    grid-template-columns: repeat(4, auto);
  }

  .shushi {
    display: grid;
    grid-template-columns: repeat(3, auto);

    .item {
      height: 20rem;
    }
  }

  .didengshi {
    display: grid;
    grid-template-columns: repeat(4, auto);

    .item {
      height: 10rem;
    }
  }
}
