<div class="container grid">
  <div class="py-auto reload align-middle float-right">
    <a (click)="generateContent()">生成新题目</a>
  </div>
  <div class="mr-2 reload align-middle float-right">
    <a (click)="go()">90题版</a>
  </div>
  <h3 class='title text-center'>每日训练（30题）</h3>


  <h5 class="title">一、直接写出得数（20题）</h5>
  <div class="kousuan mb-5">
    <div *ngFor="let m of kousuan">
      <div>{{m}}</div>
    </div>
  </div>

  <h5 class="title">二、竖式（6题）</h5>
  <div class="shushi mb-5">
    <div class="item" *ngFor="let m of shushi">
      <div> {{m}} </div>
    </div>
  </div>

  <h5 class="title">三、递等式（4题）</h5>
  <div class="didengshi mb-5">
    <div class="item" *ngFor="let m of lianshi">
      <div>{{m}}</div>
    </div>
  </div>

</div>
